{% extends "UtilBundle:Default:baseInicio.html.twig" %}
{% block title %}
    INICIO
{% endblock %}
{% block extraStyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
 .grid-overview {
    background-color: #f8f8f8;
    border-top: 4px solid rgba(38,38,38,0.05);
    border-bottom: 1px solid #cdcdcd;
    display: flex;
    padding: .625rem 0 .9375rem 0;
    padding-right: 20%;
    margin-left: 0.125rem;
    width: calc(100% + 0.75rem);
}
.grid-overview__overview-data-section {
    display: flex;
    padding-left: 1.875rem;
    padding-right: 1.375rem;
}
.grid-overview .-class-average {
    display: flex;
    align-items: center;
    border-right: solid .0625rem #cdcdcd;
}
.grid-overview__overview-data-section {
    display: flex;
    padding-left: 1.875rem;
    padding-right: 1.375rem;
}
.attendance-grade-pill.-good {
    background-color: #39e379;
}
.attendance-grade-pill--class-average {
    min-width: 5.625rem;
    height: 2.25rem;
    font-weight: 600;
}
 .attendance-grade-pill {
    min-width: 4.375rem;
    max-width: 6.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: .625rem;
    color: #000;
}
.grid-overview__description {
    font-size: 1.05rem;
    margin-left: .625rem;
    line-height: 1.4;
}
#tabla_cursos_length{
	display: none;
}
.alert.alert-info {
    display: block;
    -webkit-animation: showTooltip .2s ease-out;
    animation: showTooltip .2s ease-out;
}
.alert.alert-warning {
    display: block;
    -webkit-animation: showTooltip .2s ease-out;
    animation: showTooltip .2s ease-out;
}
.modal-backdrop{
    z-index: -1;
}
.settings-panel__grade-values {
    margin-bottom: 1.625rem;
    align-items: center;
    position: relative;
}
.alert {
    display: none;
    width: 256px;
    /*height: auto;
    background-color: #3483fa;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.25), 0 -1px 0 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.25), 0 -1px 0 0 rgba(0,0,0,.05);
    -webkit-border-radius: 2px;
    border-radius: 2px;*/
    position: absolute;
    left: 100%;
    top: 26%;
    z-index: 3;
    will-change: opacity;
}
.flecha {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #d9edf7;
    left: -8px;
    top: 17px;
}
.button.clear {
    background-color: transparent;
    color: #666;
        font-size: 1.875rem;
}
.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0.5em 1.125em;
    margin: 0 0 1rem 0;
    font-size: .875rem;
    background-color: #262626;
    color: #fff;
}
.flecha_warning {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fcf8e3;
    left: -8px;
    top: 17px;
}
.panel-header-large__actions-wrapper {
    /*display: flex;*/
    margin-top: 1.875rem;
}
.button-group>li:first-child button {
    border-right: 0;
}
.button-group>li:last-child button {
    border-left: 0;
}
.button-group button.active-switch {
    color: #fff !important;
    background-color: #262626;
}
 .button-group button {
    min-width: 9.625rem;
    height: 3.375rem;
    padding: 0;
    font-size: 1.775rem;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    color: #262626;
    line-height: 2.375rem;
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
    position: relative;
}

element.style {
}

.ftue-callout.hidden {
    pointer-events: none;
}
.button-group {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 27px;
}
.button-group>li {
    display: inline-block;
    margin: 0;
}
.settings-button {
    margin: 0;
    margin-left: .9375rem;
    padding-right: 0;
    margin-top: -55px;
}
/* Style buttons */
.btnMarcar {

  border: none; /* Remove borders */
  color: white; /* White text */
  width: 100%;
    height: 67px;
    border: none;
    BORDER-RADIUS: 0PX;
    background-color:#e0e0e0;
  font-size:c 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btnMarcar:hover {
  background-color: RoyalBlue;
}
#tabla_reunion_length,#tabla_general_length{
    display:none;
}
.dropbtn {
  background-color: #7fb8de;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
 border-radius: 4px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 206px;
  margin-left: 20px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
 .grid {
    border-right: solid 1px #cdcdcd;
    flex-grow: 1;
    position: relative;
   /* height: .0625rem;*/
    overflow: auto;
    margin-left: 1.125rem;
    margin-right: 1.125rem;
    background: linear-gradient(
45deg
, #f0f0f0 .0625rem, #fff 0, #fff calc(50% - .0625rem), #f0f0f0 0, #f0f0f0 calc(50% + .0625rem), #fff 0, #fff calc(100% - .0625rem), #f0f0f0 0);
    background-size: calc(2 * (.125rem + .4375rem) / 1.4142) calc(2 * (.125rem + .4375rem) / 1.4142);
}
#tabla_general{
    border: none;
    border-collapse: separate;
    border-radius: 2px;
    border-spacing: 0;
    margin-bottom: 1rem;
}

th.grid__cell.-header.-semi-bold ,td.grid__cell.-header.-semi-bold{
    position: sticky;
    position: -webkit-sticky;
    left: 0rem;
    z-index: 20;
}
th.grid__cell , td.grid__cell{
       width: 0px;
    /* position: relative; */
    max-width: 9.375rem;
    min-width: 9.375rem;
    height: 5.125rem;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    background-color: #001c43;
    font-size: .75rem;
    font-weight: 400;
    color: white;
}
 .dropdown-wrapper__button:not(:disabled) {
    color: #1874a4;
    text-decoration: underline;
    font-weight: 600;
}
.dropdown-wrapper__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 2px;
    line-height: 1;
}
</style>
{% endblock %}
{% block extraScripts %}
	<script src="{{ asset('bundles/util/assets/plugins/dataTables/jquery.dataTables.js') }}"></script>
	<script src="{{ asset('bundles/util/assets/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
	<script src="{{ asset('bundles/todo/jsAsistencia.js') }}"></script>
	<script>
		$(document).ready(function() {
			$('#tabla_reunion').DataTable({
				"language": {
					"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
				}
			});
            $('#tabla_general').DataTable({
				"language": {
					"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
				}
			});
		} );
    function actionDiv(action){
        console.log('his');
        if(action=='general'){
            $("#contener_general").css("display", "block");
            $("#contener_reunion").css("display", "none");
        }else{
            $("#contener_general").css("display", "none");
            $("#contener_reunion").css("display", "block");
        }
    }
    function configAction(){
         $.ajax({
                url:'{{ (path('pagina_ajax_asistencia')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    'action':'LOAD_EQUEMA',
                },
                async: true,
                success: function (data)
                {
                    console.log(data['all_Data'][0]['esquemaCalificacionValue']);
                    $("#presente").val(data['all_Data'][0]['esquemaCalificacionValue']);
                    $("#ausente").val(data['all_Data'][1]['esquemaCalificacionValue']);
                    $("#atrasado").val(data['all_Data'][3]['esquemaCalificacionValue']);
                    $("#justificado").val(data['all_Data'][2]['esquemaCalificacionValue']);
                    $("#configModal").modal("show");
                   
                }
            });
       
    }
    function sendFormEsquema(formulario){
         var form_data = $(formulario).serialize();
            console.log(form_data);
             $.ajax({
                url:'{{ (path('pagina_ajax_asistencia')) }}',
                type: "POST",
                dataType: "json",
                data: form_data,
                async: true,
                success: function (data)
                {
                    console.log(data);
                    $("#configModal").modal("hide");
                   
                }
            });
    }
    function marcarAsistencia(tipo, btnId){
        console.log(tipo);
        console.log(btnId);
         $.ajax({
                url:'{{ (path('pagina_ajax_asistencia')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    'action':'MARCARAsistencia',
                    'tipo':tipo,
                    'id':btnId,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                   switch(tipo){
                       case 'PRESENTE':
                            $("#"+btnId).css("background-color", "#ABEB91");
                            $("#btnAtr_"+data['id']).css("background-color", "#e0e0e0");
                            $("#btnAus_"+data['id']).css("background-color", "#e0e0e0");
                            $("#btnJust_"+data['id']).css("background-color", "#e0e0e0");
                       break;
                       case 'AUSENTE':
                            $("#"+btnId).css("background-color", "#EA7178");
                            $("#btnAtr_"+data['id']).css("background-color", "#e0e0e0");
                            $("#btnPr_"+data['id']).css("background-color", "#e0e0e0");
                            $("#btnJust_"+data['id']).css("background-color", "#e0e0e0");
                       break;
                       case 'JUSTIFICADO':
                            $("#"+btnId).css("background-color", "#92E5DC");
                            $("#btnAtr_"+data['id']).css("background-color", "#e0e0e0");
                            $("#btnAus_"+data['id']).css("background-color", "#e0e0e0");
                            $("#btnPr_"+data['id']).css("background-color", "#e0e0e0");
                       break;
                       case 'ATRASADO':
                            $("#"+btnId).css("background-color", "#F9ED89");
                            $("#btnPr_"+data['id']).css("background-color", "#e0e0e0");
                            $("#btnAus_"+data['id']).css("background-color", "#e0e0e0");
                            $("#btnJust_"+data['id']).css("background-color", "#e0e0e0");
                       break;
                   }
                   
                }
            });

    }
    function allMarcar() {
        document.getElementById("myDropdown").classList.toggle("show");
        console.log('all');
        }

    function nextCalendar(fecha){
        console.log(fecha);
         $.ajax({
                url:'{{ (path('pagina_ajax_asistencia')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    'action':'next',
                    'fecha':fecha,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                }
         });
    }
    function backCalendar (fecha){
        console.log(fecha);
        $.ajax({
                url:'{{ (path('pagina_ajax_asistencia')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    'action':'back',
                    'fecha':fecha,
                },
                async: true,
                success: function (data)
                {
                    console.log(data);
                }
         });
    }
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
            }
        }
        }
        function marcarAll(tipo, fecha, id_curso){
            console.log(tipo);
            console.log(fecha);
            console.log(id_curso);
            
             $.ajax({
                url:'{{ (path('pagina_ajax_asistencia')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    'action':'MARCARALL',
                    'tipo':tipo,
                    'fecha':fecha,
                    'id_curso':id_curso,
                },
                async: true,
                beforeSend: function()
                {   
                    $("#icon-action").removeClass('fa-search').addClass('fa-circle-o-notch fa-spin');
                },
                success: function (data)
                {
                    console.log(data);
                    
                   switch(tipo){
                       case 'PRESENTE':
                            for (i=0; i< data['asistenciaList'].length ;i++){
                                $("#btnPr_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#ABEB91");
                                $("#btnJust_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                                $("#btnAus_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                                $("#btnAtr_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                            }
                       break;
                       case 'AUSENTE':
                            for (i=0; i< data['asistenciaList'].length ;i++){
                                $("#btnAus_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#EA7178");
                                $("#btnJust_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                                $("#btnAtr_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                                $("#btnPr_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                            }
                            
                       break;
                       case 'JUSTIFICADO':
                            for (i=0; i< data['asistenciaList'].length ;i++){
                                $("#btnJust_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#92E5DC");
                                $("#btnAtr_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                                $("#btnAus_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                                $("#btnPr_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                            }
                       break;
                       case 'ATRASADO':
                             for (i=0; i< data['asistenciaList'].length ;i++){
                                $("#btnAtr_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#F9ED89");
                                $("#btnJust_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                                $("#btnAus_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                                $("#btnPr_"+data['asistenciaList'][i]['asistenciaId']).css("background-color", "#e0e0e0");
                            }
                       break;
                   }
                    $("#icon-action").removeClass('fa-circle-o-notch fa-spin').addClass('fa-search');
                   
                }
            });
        }
	</script>
{% endblock %}
{% block contenido %}
		<div class="oculto">
            <div class="panel panel-default widget-box">
                <div class="panel-body widget-content">
                    <div class="row" style="    margin: 10px;">	
                        <div class="col-sm-4">
                            <span class="panel-header-large__sub-title">{{ curso.getCursoMateria().getMateriasCodigo() }}-{{ curso.getCursoMateria().getMateriasName() }}</span>
                            <h3>ASISTENCIA </h3>
                             
                                                   
                        </div>
                        <div class="col-sm-4" style="text-align: center;font-size: 24px;">
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                                <div class="panel-header-large__actions-wrapper">
                                    <div class="grid-view-switcher">
                                        <ul class="button-group">
                                            <li>
                                                <div>
                                                    <button class="js-switch-to-overall-view small left-button button " onclick="actionDiv('general')" data-analytics-id="course.attendance.showOverallView.button"  id="course_general" aria-label="General">General</button>
                                                    <span class="ftue-callout hidden"></span>
                                                </div>
                                            </li>
                                            <li>
                                                <button class="js-switch-to-meeting-view small right-button button active-switch" onclick="actionDiv('reunion')" data-analytics-id="course.attendance.showMeetingView.button" id="course_reunion" aria-label="Reunión, seleccionada">Reunión</button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <button class="button settings-button clear js-open-settings" title="Ajustes" onclick="configAction()" data-analytics-id="course.attendance.settings.link" aria-label="Ajustes" href="#">
                                            <span class="glyphicon glyphicon-cog"></span>
                                        </button>
                                    </div>
                                </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div id="contener_reunion" >
                <div class="panel panel-default widget-box">
                    <div class="panel-body widget-content">
                        <div class="row" style="    margin: 10px;">	
                            <div class="col-sm-4">
                            {% if btnBackBlock %} 
                                <a type="button" {% if btnBackBlock %} disable {% endif %} href="{{ path('pagina_listado_asistencia', {'action':'index','id_curso':id_curso,'fecha':fechaBack | date('Y-m-d 00:00:00') })}}" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-left" style="margin-top: 3px;font-size: 46px;"></span></a>
                            {% endif %}   
                            </div>
                            <div class="col-sm-4" style="text-align: center;font-size: 24px;margin-top: 20px;">
                                <div>{{ fecha | date('Y-m-d') }}</div>
                            </div>
                            <div class="col-sm-4" style="text-align: right;">
                                {% if btnNextBlock %}  
                                    <a type="button"  href="{{ path('pagina_listado_asistencia', {'action':'index','id_curso':id_curso,'fecha':fechaNext | date('Y-m-d 00:00:00') })}}" class="btn btn-secondary"><span class="glyphicon glyphicon-arrow-right" style="margin-top: 3px;font-size: 46px;"></span></a>
                                {% endif %}
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                <div class="panel panel-default widget-box">
                    <div class="panel-body widget-content">
                        <div class="row">
                            <div class="col-sm-12" style="margin-top: 36px;">
                                <div class="dropdown"  >
                                    <button onclick="allMarcar()" style ="margin-left:20px;" class="dropbtn"><i id="icon-action" class="fa fa-users"></i>Tomar a Todos la Asistencia</button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a onclick="marcarAll('PRESENTE','{{ fecha | date ('Y-m-d 00:00:00 ')}}', {{id_curso}})"><i class="fa fa-check"></i> PRESENTE</a>
                                        <a onclick="marcarAll('ATRASADO','{{ fecha | date ('Y-m-d 00:00:00 ') }}', {{id_curso}})"><i class="fa fa-clock-o"></i> ATRASADO</a>
                                        <a onclick="marcarAll('AUSENTE','{{ fecha | date ('Y-m-d 00:00:00 ')}}', {{id_curso}})"><i class="fa fa-close"></i> AUSENTE</a>
                                        <a onclick="marcarAll('JUSTIFICADO','{{ fecha | date ('Y-m-d 00:00:00 ')}}', {{id_curso}})"><i class="fa fa-ban"></i> JUSTIFICADO</a>
                                    </div>
                                    </div>
                                <table id="tabla_reunion" class="table table-striped table-bordered" style="    width: 96%;margin-left: 20px">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>ESTUDIANTE</th>
                                            <th>PRESENTE</th>
                                            <th>ATRASADO</th>
                                            <th>AUSENTE</th>
                                            <th>JUSTIFICADO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {% set i =1 %}
                                       {% for value in asistenciaList %}
                                            <tr>
                                                <td>{{ i }}</td>
                                                <td>{{ value.getAsistenciaListEstudiante().getListEstudiantesUsuario().getEstApellido() }} {{ value.getAsistenciaListEstudiante().getListEstudiantesUsuario().getEstName() }} </td>
                                                {% if value.getAsistenciaValue() == -1 %}
                                                    <td><button id="btnPr_{{ value.getAsistenciaId() }}" class="btnMarcar" onclick="marcarAsistencia('PRESENTE', this.id)"><i class="fa fa-check"></i></button></td>
                                                    <td><button id="btnAtr_{{ value.getAsistenciaId() }}" class="btnMarcar" onclick="marcarAsistencia('ATRASADO', this.id)"><i class="fa fa-clock-o"></i></button></td>
                                                    <td><button id="btnAus_{{ value.getAsistenciaId() }}" class="btnMarcar" onclick="marcarAsistencia('AUSENTE', this.id)"><i class="fa fa-close"></i></button></td>
                                                    <td><button id="btnJust_{{ value.getAsistenciaId() }}" class="btnMarcar " onclick="marcarAsistencia('JUSTIFICADO', this.id)"><i class="fa fa-ban"></i></button></td>
                                                    
                                                {% else %}
                                                    {% if value.getAsistenciaTipo() == 'PRESENTE' %}
                                                        <td><button id="btnPr_{{ value.getAsistenciaId() }}"  style="background-color:#ABEB91" class="btnMarcar" onclick="marcarAsistencia('PRESENTE', this.id)"><i class="fa fa-check"></i></button></td>
                                                    {% else %}
                                                            <td><button id="btnPr_{{ value.getAsistenciaId() }}"  class="btnMarcar" onclick="marcarAsistencia('PRESENTE', this.id)"><i class="fa fa-check"></i></button></td>
                                                    {% endif %}

                                                    {% if value.getAsistenciaTipo() == 'ATRASADO' %}
                                                        <td><button id="btnAtr_{{ value.getAsistenciaId() }}" style="background-color:#F9ED89" class="btnMarcar" onclick="marcarAsistencia('ATRASADO', this.id)"><i class="fa fa-clock-o"></i></button></td>
                                                     {% else %}
                                                         <td><button id="btnAtr_{{ value.getAsistenciaId() }}"  class="btnMarcar" onclick="marcarAsistencia('ATRASADO', this.id)"><i class="fa fa-clock-o"></i></button></td>
                                                   {% endif %}

                                                    {% if value.getAsistenciaTipo() == 'AUSENTE' %}
                                                        <td><button id="btnAus_{{ value.getAsistenciaId() }}" style="background-color:#EA7178" class="btnMarcar" onclick="marcarAsistencia('AUSENTE', this.id)"><i class="fa fa-close"></i></button></td>
                                                      {% else %}
                                                        <td><button id="btnAus_{{ value.getAsistenciaId() }}" class="btnMarcar" onclick="marcarAsistencia('AUSENTE', this.id)"><i class="fa fa-close"></i></button></td>
                                                    {% endif %}

                                                    {% if value.getAsistenciaTipo() == 'JUSTIFICADO' %}
                                                        <td><button id="btnJust_{{ value.getAsistenciaId() }}" style="background-color:#92E5DC" class="btnMarcar" onclick="marcarAsistencia('JUSTIFICADO', this.id)"><i class="fa fa-ban"></i></button></td>
                                                   {% else %}
                                                        <td><button id="btnJust_{{ value.getAsistenciaId() }}" class="btnMarcar" onclick="marcarAsistencia('JUSTIFICADO', this.id)"><i class="fa fa-ban"></i></button></td>
                                                    {% endif %}
                                                   

                                                    
                                                {% endif %}
                                            </tr>
                                             {% set i= i+1 %}
                                       {% endfor %} 
                                    </tbody>
                                </table>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="contener_general" style="display:none">
                <div class="panel panel-default widget-box">
                    <div class="panel-body widget-content">
                        <div class="row" style="    margin: 10px;">	
                                                                    <div class="grid-overview">
                                        <div class="grid-overview__overview-data-section -class-average">
                                            <div class="attendance-grade-pill attendance-grade-pill--class-average -good">100&nbsp;%</div>
                                            <div class="grid-overview__description">
                                                <span class="-bold">Promedio de asistencia</span>
                                            </div>
                                        </div>
                                        <div class="grid-overview__overview-data-section js-perfect-students">
                                            <span class="grid-overview__students-affected">3</span>
                                            <div class="grid-overview__description">
                                                <span>Estudiantes con asistencia perfecta</span>
                                                <span class="-bold js-percentage">100&nbsp;% de la clase</span>
                                            </div>
                                        </div>
                                        <div class="grid-overview__overview-data-section js-above-average-students">
                                            <span class="grid-overview__students-affected">3</span>
                                            <div class="grid-overview__description">
                                                <span>Estudiantes con asistencia promedio o superior al promedio</span>
                                                <span class="-bold js-percentage">100&nbsp;% de la clase</span>
                                            </div>
                                        </div>
                                        <div class="grid-overview__overview-data-section js-below-average-students">
                                            <span class="grid-overview__students-affected">0</span>
                                            <div class="grid-overview__description">
                                                <span>Estudiantes con asistencia inferior al promedio</span>
                                                <span class="-bold js-percentage"></span>
                                            </div>
                                        </div>
                                        </div>
                            
                        </div>
                    </div>
                </div>
                <div class="panel panel-default widget-box">
                    <div class="panel-body widget-content">
                        <div class="row">
                            <div class="col-sm-12" style="margin-top: 36px;">
                            <div class="grid overall-view-grid ">
                                <table id="tabla_general" class="table table-striped table-bordered" style="    width: 96%;margin-left: 20px">
                                    <thead>
                                        <tr>
                                            <th class="grid__cell -header -semi-bold" >ESTUDIANTE</th>
                                            {% for valor in listadoPrevio %}
                                                <th>{{ valor.getAsistenciaFecha() | date('Y-m-d') }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for valor in estudiantes_list %}
                                        <tr>
                                            <td class="grid__cell -header -semi-bold">{{ valor.getListEstudiantesUsuario().getEstApellido() }} {{ valor.getListEstudiantesUsuario().getEstName() }}</td>
                                            {% for value in listadoGeneral[valor.getListEstudiantesId()][0]%}
                                                 {% if value.getAsistenciaValue() == -1 %}
                                                    <td><button id="btnPr_{{ value.getAsistenciaId() }}" class="dropdown-wrapper__button js-trigger-dropdown" onclick="marcarAsistencia('PRESENTE', this.id)">Marcar</button></td>
                                                {% else %}
                                                    {% if value.getAsistenciaTipo() == 'PRESENTE' %}
                                                        <td><button id="btnPr_{{ value.getAsistenciaId() }}"  style="background-color:#ABEB91" class="btnMarcar" onclick="marcarAsistencia('PRESENTE', this.id)"><i class="fa fa-check"></i></button></td>
                                                    {% elseif value.getAsistenciaTipo() == 'ATRASADO' %}
                                                        <td><button id="btnAtr_{{ value.getAsistenciaId() }}" style="background-color:#F9ED89" class="btnMarcar" onclick="marcarAsistencia('ATRASADO', this.id)"><i class="fa fa-clock-o"></i></button></td>
                                                    {% elseif value.getAsistenciaTipo() == 'AUSENTE' %}
                                                        <td><button id="btnAus_{{ value.getAsistenciaId() }}" style="background-color:#EA7178" class="btnMarcar" onclick="marcarAsistencia('AUSENTE', this.id)"><i class="fa fa-close"></i></button></td>
                                                    {% else %}
                                                            <td><button id="btnJust_{{ value.getAsistenciaId() }}" style="background-color:#92E5DC" class="btnMarcar" onclick="marcarAsistencia('JUSTIFICADO', this.id)"><i class="fa fa-ban"></i></button></td>
                                                    {% endif %}   
                                                {% endif %}    
                                            
                                            {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                               </div> 
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>

<!--MODAL -->
<div class="modal fade"  id="configModal" tabindex="-2" role="dialog"  >
        <div class="row">
            <div class="col-md-12">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div style="color: #fff;
									background-color: #001c43;
									border-color: #ffeeba;" class="modal-header">
                            <button  style="color:white" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <span class="glyphicon glyphicon-cog" style="font-size: 19px;"></span>
                            <span class="peek-panel-header__sub-title">Asistencia</span>
                            <h3 class="peek-panel-header__title"style=" margin: 0px;color: #eceff3;font-size: 27px;" >Ajustes</h3>
                        </div>
                        <form id="formEsquema" >
                        <div class="modal-body">
                            <input type="hidden" name="action" value="ESQUEMA" />
                            <div class="col-md-12" >
                                <h4 class="settings-panel__section-title">Esquema de calificación</h4>
                                <div class="settings-panel__grade-values">
                                    <label class="settings-panel__label settings-panel__label--fake-input col-lg-2" for="grade-value-presentWeight">Presente</label>
                                    <input  class="settings-panel__input col-lg-9" name="presente" id="presente" type="text"  aria-describedby="grade-value-present-percent" data-analytics-id="course.attendance.settings.gradeSchema.present.input.number" >
                                    <span id="grade-value-present-percent" class="settings-panel__input-percent" aria-hidden="true">%</span>
                                </div>
                                <div class="settings-panel__grade-values">
                                    <label class="settings-panel__label settings-panel__label--fake-input col-lg-2" for="grade-value-presentWeight">Atrasado</label>
                                    <input  class="settings-panel__input col-lg-9" name="atrasado" id="atrasado" type="text"  aria-describedby="grade-value-present-percent" data-analytics-id="course.attendance.settings.gradeSchema.present.input.number" >
                                    <span id="grade-value-present-percent" class="settings-panel__input-percent" aria-hidden="true">%</span>
                                </div>
                                <div class="settings-panel__grade-values">
                                    <label class="settings-panel__label settings-panel__label--fake-input col-lg-2" for="grade-value-presentWeight">Ausente</label>
                                    <input  class="settings-panel__input col-lg-9" name="ausente" id="ausente" type="text" aria-describedby="grade-value-present-percent" data-analytics-id="course.attendance.settings.gradeSchema.present.input.number" >
                                    <span id="grade-value-present-percent" class="settings-panel__input-percent" aria-hidden="true">%</span>
                                </div>
                                <div class="settings-panel__grade-values">
                                    <label class="settings-panel__label settings-panel__label--fake-input col-lg-2" for="grade-value-presentWeight">Justificado</label>
                                    <input class="settings-panel__input col-lg-9" name="justificado" id="justificado" type="text"  aria-describedby="grade-value-present-percent" data-analytics-id="course.attendance.settings.gradeSchema.present.input.number" >
                                    <span id="grade-value-present-percent" class="settings-panel__input-percent" aria-hidden="true">%</span>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="botonCerrar" style="display: block;float: right;"><i class="fa fa-reply"></i> Cancelar</button>
                            <button type="button"  onclick = "sendFormEsquema(this.form)" class="btn btn-default" style="color: #fff;background-color: #001c43;border-color: #ffeeba;" ><i class="fa fa-save"></i> Guardar</button>
                            
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

